body{
    color: rgb(240, 228, 69);
    background-color:rgb(0, 0, 0);
    padding-left: 15%;

}

#h1{
    
    font-size:50px;
    color: rgb(251, 255, 5);
    padding-left: 15%;
}

#profile-pic{
    margin-left: 50px;
    width:150px;
    height:150px;
}

.intro{
    display: grid;
    justify-content:center;
    font-size:x-large;
}

#div1{
    background-color: rgb(26, 99, 57);
    width: 80%;
}

#div2{
    background-color: rgb(39, 41, 168);
    width: 80%;
}

#div3{
    background-color: rgb(172, 102, 36);
    width: 80%;
}

#div4{
    background-color: rgb(139, 12, 12);
    width: 80%;
}

#btn{
    font-size:x-large;
    background-color: rgb(77, 255, 7);
    width: 80%;
    height: 50px;
}

#btn2{
    font-size:x-large;
    background-color: rgb(77, 255, 7);
    width: 80%;
    height: 50px;
}